# --- Core Dependencies ---
fastapi==0.111.1
uvicorn==0.24.0
SQLAlchemy==2.0.29
greenlet==3.2.4
typing_extensions==4.15.0
requests==2.32.0
pydantic==2.3.0
python-dotenv==1.0.1
python-jose==3.3.0
passlib[bcrypt]==1.7.4


